{% extends "drives/base.html" %}

{% block header %}
	<h2>我的文件 &nbsp; <small>当前目录：/<a href="{% url 'drives:folder' folder.id %}">{{ folder }}</a>/ &nbsp; <a href="{% url 'drives:folders' %}">返回上一级</a> &nbsp; <a href="{% url 'drives:upload' folder.id %}">上传文件</a></small></h2>
{% endblock header %}

{% block content %}
	<style type="text/css">
		td{
			font-size: 12px;
			padding: 3px;
		}
		.th{
			background-color: #B6DF48;
			font-weight: bold;
			text-align: center;
		}
	</style>

	<table width="98%" border="1" align="center" cellpadding="0" cellspacing="1">
		<tr>
			<td width="45%" height="27">文件名称</td>
			<td width="13%">创建时间</td>
			<td width="13%">路径</td>
			<td width="10%">操作</td>
		</tr>
		{% for file in files %}
			<tr>
				<td width="45%">{{ file.name }}</td>
				<td width="13%">{{ file.date_added|date:'Y/m/d H:i' }}</td>
				<td width="13%">/{{ file.Folder }}/{{ file.name }}</td>
				<td width="10%"><a href="{{ file.link }}">以内容为链接打开</a>&nbsp;<a href="javascript:window.alert('文件 /{{ file.Folder }}/{{ file.name }}/ 的内容: \n{{ file.link }}')">查看</a></td>
			</tr>
		{% empty %}
			<tr>
				<td>这里没有任何内容。 &nbsp; <a href="{% url 'drives:upload' folder.id %}">上传文件</a></td>
			</tr>
		{% endfor %}
	</table>
{% endblock content %}